<!-- 
<div class="container-fluid m-4">
  <div class="stat-card-custom animate-on-scroll p-3">

    <div class="d-flex justify-content-start align-items-stretch">

      <div class="stat-item">
        <div class="stat-icon-circle">
          <i class="bi bi-99"></i>
        </div>
        <div class="text-center mt-2">
          <div class="stat-number">+300</div>
          <div class="stat-label fs-5">حالة</div>
        </div>
      </div>

      
      <div class="stat-item ">
        <div class="stat-divider"></div>
        <div class="stat-icon-circle">
          <i class="bi bi-person"></i>
        </div>
        <div class="text-center mt-2">
          <div class="stat-number">+200</div>
          <div class="stat-label fs-5">متطوع</div>
        </div>
      </div>

      
      <div class="stat-item ">
        <div class="stat-divider"></div>
        <div class="stat-icon-circle">
          <i class="bi bi-card-image"></i>
        </div>
        <div class="text-center mt-2">
          <div class="stat-number">+50</div>
          <div class="stat-label fs-5">مشروع</div>
        </div>
      </div>

      
      <div class="stat-item ">
        <div class="stat-divider"></div>
        <div class="stat-icon-circle">
          <i class="bi bi-bookmark"></i>
        </div>
        <div class="text-center mt-2">
          <div class="stat-number">+150</div>
          <div class="stat-label fs-5">مستفيد</div>
        </div>
      </div>

    </div>

  </div>
</div> -->
<div class="statistics-card-container">
  <div class="single-statistics-card">
    <div class="stats-row">
      @for (stat of statistics; track $index ; let last = $last) {

      <div class="stat-section">
        <div class="stat-content">
         
          <div class="stat-icon">
            <i class="{{ stat.icon }}"></i>
          </div>
           <div class="stat-info">
            <div class="stat-number">+{{ stat.number }}</div>
            <div class="stat-label">{{ stat.label }}</div>
          </div>
        </div>
       
        <div class="stat-divider"></div>
        
      </div>
      }

    </div>
  </div>
</div>