<section class="full-width-section position-relative">
  <img src="Images/bg.png" alt="Background" class="background-image" />

  <div class="head">
    <div class="text-block">
      <h2>مستشارونا... خبرات تضيء طريق العطاء</h2>
      <p>
        نفتخر بفريق من المستشارين ذوى الخبره فى مجالات العمل الخيري , و التنمية
        الاجتماعية و الادارة , يقدمون الدعم و التوجيه الاستراتيجى لضمان جودة
        البرامج واستدامة الاثر.
      </p>
    </div>

    <div class="image-block d-flex">
      <div class="image-inner d-flex flex-row justify-content-end align-items-end w-100">
        <div class="half-img">
          <img class="w-100" src="Images/advisorHead1.jpg" alt="" />
        </div>
        <div class="quarter-img d-flex flex-column justify-content-end">
          <img class="w-100" src="Images/advisorHead2.jpg" alt="" />
          <img class="w-100" src="Images/advisorHead3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
