.icon-bg{
    background-color: var(--primary-300);
    i{
        color: #fff;
        font-size: small;
    }
}
.action-buttons{
  font-family: 'Cairo';
  button{
      
      font-weight: bold;
    }
}

.header-section{
background-color: #ffffff;
}
